html{
    background-color: beige;
    font-family: Verdana, Geneva, Tahoma, Sans-serif;
}
header{
    padding: 24px;
    display: grid;
    grid-template-columns: auto 1fr;
    column-gap: 24px;
}
.book-cover{
    width: 200px;
    height: auto;
    /* grid-row:1 / span 5; */
}
.main-page-book-review{
    background-color: white;
    padding: 24px;
    border: 1px solid lightblue;
    display: grid;
    
}
.detail-page-book-review{
    background-color: white;
    padding: 24px;
}
main{
    max-width: 800px;
    margin: auto;
    
}
.book-rating{
    font-size: 125%;
}
.book-authors{
    color: dimgray;
}
footer{
    background-color: burlywood;
    padding: 24px; /* Just this new line */
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 24px;
    align-items: center;                
}
body{
    margin: 0;
}
wefwefw